[flake8]
exclude = alembic/*
max-line-length = 100
ignore = E,W,B008
type-checking-exempt-modules = from sqlalchemy.orm
per-file-ignores =
    src/starlite_saqlalchemy/dependencies.py:TC
    src/starlite_saqlalchemy/health.py:TC
    src/starlite_saqlalchemy/repository/filters.py:TC
    src/starlite_saqlalchemy/scripts.py:T201
    src/starlite_saqlalchemy/settings.py:TC
    src/starlite_saqlalchemy/users/controllers.py:TC
    tests/*:SCS108,PT013
    tests/integration/test_tests.py:TC002,SCS108
    tests/unit/lib/test_dependencies.py:TC,SCS108
    tests/utils/*:TC
