name: docs

on:
  push:
    tags: ["*"]

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: write

jobs:
  docs:
    concurrency:
      group: docs
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@1f99358870fe1c846a3ccba386cc2b2246836776  # @v2.2.1
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            docs.python.org:443
            docs.sqlalchemy.org:443
            files.pythonhosted.org:443
            github.com:443
            objects.githubusercontent.com:443
            pypi.org:443
            redis-py.readthedocs.io:443
            starlite-api.github.io:443
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c  # @v3.3.0
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435  #v4.5.0
        with:
          python-version: "3.11"
      - run: python -m pip install --upgrade wheel tox
      - id: get-version
        run: |
          version=$(python -c 'print("${{github.ref_name}}".rsplit(".", 1)[0])')
          echo "::set-output name=version::$version"
      - name: Build docs website and API reference
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          tox -e docs -- deploy --push ${{steps.get-version.outputs.version}}
